doctype html
html
  head
    title QnA
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
    noscript
      link(rel="stylesheet" href="/assets/css/noscript.css")
  style.
    section > h1 {
        font-size: 50px;
        text-align: center;
        font-weight: bold;
    }
    #showNick {
        margin-right: 20px;
    }
    #question{
      display : none;
    }
    text:hover{
      color : red;
      cursor: pointer;
    }
    #QnA_table > tbody tr:hover{
      cursor: pointer;
    }

    #qna_information, #qna_information_normal{
      margin-top : 30px;
      margin-bottom : 30px;
      text-align : end;
    }
    #edit{
      margin-right : 20px;
    }

  body.is-preload
    #page-wrapper
      header#header
        h1#logo
          a(href="/") Team 2
        nav#nav
          ul
            li
              a(href="/") Home
            li
              a(href="/semester") Semester
            li
              a(href="/group_member") Members
            li
              a(href="/QnA") Q & A
            if !user
              li
                a.button.primary(href="/login") Login
              li
                a.button.primary(href="/register") Register
            else
              li
                a#showNick= "안녕하세요, " + user.u_nickName + "님!"
                a.button.primary(href='/logout') Logout
      #main.wrapper.style1
        .container         
          section
            h1 Q & A
            .table-wrapper
              table#QnA_table
                thead
                  tr
                    th number
                    th title
                    th nick
                    th time
                tbody
                  for qna in qnas
                    tr  
                      td= qna.id
                      td= qna.q_title
                      td= qna.q_nick
                      td= qna.createdAt
            if user
              input#get_u_nickName(type='text' value= user.u_nickName)
            if user && user.u_nickName=='관리자'
              //- 관리자
              #qna_information
            else if user && user.u_nickName==''
              //- 일반유저 본인
              #qna_information_normal
            else
              //- not 로그인
              #qna_information_none
            input#QnA_btn(type="button" value = "질문하기")
          section#question
            h3 질문하기
            form( action='/QnA' method='post')
              #QnA_input
                #QnA_title
                  input#name(type="text" name="title" value="" placeholder="제목")
                #QnA_content
                  textarea#message(name="content" placeholder="내용을 입력하세요" rows="6")
                #qna_con_btn
                  ul.actions
                    li
                      input#inputBtn(type="submit" value="저장하기")
                    li
                      input#backBtn(type="reset" value="취소")
      footer#footer
        ul.icons
          li
            a.icon.alt.fa-twitter(href="#")
              span.label Twitter
          li
            a.icon.alt.fa-facebook(href="#")
              span.label Facebook
          li
            a.icon.alt.fa-linkedin(href="#")
              span.label LinkedIn
          li
            a.icon.alt.fa-instagram(href="#")
              span.label Instagram
          li
            a.icon.alt.fa-github(href="#")
              span.label GitHub
          li
            a.icon.alt.fa-envelope(href="#")
              span.label Email
        ul.copyright
          li Copyright@Team2
          li
            | Design: 
            a(href="http://html5up.net") HTML5 UP

    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/jquery.dropotron.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
    script(src='/javascripts/QnA.js')
